<div>
    <div class="aa back">
        <a routerLink="/pro" class="btn btn-secondary"><i class="rol fas fa-arrow-left"></i>  back</a>
    </div>
    <i class="bi bi-arrow-left-circle"></i>

    
    <div class="row">
        <div class="col">
            <img src="https://cartzilla.createx.studio/img/shop/catalog/02.jpg">
        </div>
        <div class="col">
                <h5>{{name}}</h5>
                <h6>{{catname}}</h6>
                <i>${{price}}</i>
                <br>
                <a class="btn btn-primary" (click)="addtoCart()">Add to cart</a>
        </div>
    </div>
</div>


<div class="alert alert-danger" role="alert">
   {{msg}}
  </div>
